html {
  font-size: 62.5%;
}

.App {
  text-align: center;
  padding: 5%;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: darkslategrey;
}

.weather-window {
  width: 800px;
  display: grid;
  padding: 8px;
  grid-template-columns: 3fr 1fr 2fr;
  grid-template-rows: 5rem 2.5rem;
  background-color:rgb(36, 31, 66);
  font-size: 1.6rem;
  border-radius: 10px;
}

.location {
  display: inline-flex;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  color: rgb(156, 184, 207);
  flex-wrap:nowrap;
  overflow: hidden;
  margin: unset;
  font-size: 3.2rem;
}

.latlon {
  display: inline-flex;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
  color: rgb(156, 184, 207);
}

.feels-like {
  display: inline-flex;
  justify-content: center;
  justify-content: space-around;
  align-items: baseline;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
  color: rgb(156, 184, 207);
  white-space: pre;
}

.feels-like span {
  display: inline-block;
  color: rgb(156, 184, 207);
}

.temp {
  font-size: 4.8rem;
}

